.btn_submit{
    width: 350px;
    height: 40px;
    padding: 0.5rem;
    background-color: #72DB73;
    color: #fff;
    border: none;
    border-radius: 2rem;
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    font-weight: 600;
    margin: 0.9rem 0;
    cursor: pointer;
}